*{
	padding: 2px;
	margin: 0;
	box-sizing: border-box;
	font-family: urban;
}

.hero-section .heading{
	color: #000;
	font-size: 35px;
	list-style: 80px;
	/*padding: 8px 100px;*/
	font-weight: bold;
	align-items: center;
}
/*navibar*/
.topnav {
  overflow: hidden;
  background-color: #fff;
  float: right;
  text-align: right;
  align-items: center;
}

.topnav a {
	text-align: right;
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  /*text-decoration: none;*/
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: 2px solid #000;
}

.active {
  background-color: #dfa974;
  color: white;
}

.topnav .icon {
  display: none;
  color: #000;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .hero-section{
  	padding-top: 50%;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    color: #000;
    text-align: left;
  }
  .hero-section{
  	padding-top: 50%;
  }
}
/*-navbar-*/
.hero-section{
    padding-bottom: 100px;
}
.hero-section .carousel-caption{
	left: 5%;
}
@media screen and (max-width: 415){
	.hero-section .carousel-caption{
		top: 10%;
	}
}
.hero-section .carousel-caption .img-fluid{
	width: fit-content;
}
.hero-section .carousel-caption h5{
	font-size: auto;
}
.hero-section .carousel-caption p{
	font-size: auto;
	text-align: center;
}
.hero-section .carousel-caption a{
	text-decoration: none;
	color: #fff;
	border-bottom: 3px solid #dfa974;
}

.about-section p{
	background-color: #000;
	color: #fff;
	font-size: 100%;
	padding: 15px;
	font-family: 'Uchen', serif;
}
.presence-section{
	padding: 10%;
}
.presence-section .heading{
	text-align: center;
}
.presence-section .heading h2{
	color: #dfa974;
}
.presence-section .slide{
	/*width: 400px;*/
	padding-top: 30px;
	padding-left: 10%;
}
.presence-section .slide .carousel{
	/*width: 80%;*/
	text-align: center;
}
.client-section .heading{
	padding-left: 40%;
}
.client-section .heading h2,p{
	text-align: left;
}
.client-section .heading h2{
	color: #dfa974;
}
.client-section .table-content{
	padding-left: 20%;
}
.conent .row{
	flex-direction: row;
	padding-top: 90px;
}
.conent .row .para h5{
	color: #dfa974;
}
.footer-section{
	padding-top: 100px;
	background-color: #6e7381;
}
.footer-section .row{
	padding-left: 80px;
	justify-content: space-between
}
.footer-section .row .links h6{
	color: #fff;
}
.footer-section .row .links i{
	width: 30px;
	height: 30px;
	color: #fff;
	/*border: 2px solid #000;*/
}
.footer-section .row .newsletter{
	padding-left: 100px;
}
.footer-section .row .newsletter p{
	color: #fff;
}
.footer-section .row .newsletter .submit{
	width: 100px;
	background-color: transparent;
	border: 1px solid #393d4a;
	height: 50px;
}
.footer-section .row .newsletter .email{
	width: 95%;
    height: 50px;
    border-radius: 2px;
    background: #cbcbcb;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    color: #707079;
}
.footer-section .row h5{
	padding-left: 10px;
	color: #dfa974;
}
.footer-section .row h6 a{
	text-decoration: none;
	color: #fff;
}
.footer-section .row a{
	color: #000;
	text-decoration: none;
}



/*Gallery Page*/
.gallery-section{
	padding: 40px;
}
.gallery-section .heading{
	position: absolute;
	color: #fff;
	/*top: 25%;*/
	font-family: urban;
	text-shadow: 3px 5px 5px #000;
}
.gallery-section img{
	 box-shadow: 10px 10px 5px #ccc;
}
.college-section{
	width: 100%;
	position: static;
}
.college-section .college{
	width: 80%;
	padding: 10px 116px 0px 0px;
	float: right;
	/*border: 2px solid #000;*/
}
.college-section .college .college-row .row{
	padding: 10px;
}
.college-section .college .college-row{
	border: 1px solid #000;
	border-top: none;
}
.college-section .college .college-row input{
	background: transparent;
	color: #dfa974;
	border: 2px solid #dfa974;
}
.advanture-section{
	position: static;
	padding-top: 70%;

}

@media screen and (max-width: 320px){
	.advanture-section{
		padding-top: 85%;
	}
}
@media screen and (max-width: 320px){
	.advanture-section{
		padding-top: 90%;
	}
}

/*About section*/
.abouthotel-section, .contact-section{
	padding-top: 20px;
	font-family: urban;
	/*font-weight: 500;*/
}
.abouthotel-section h2, .food-section h2, .staff-section h2{
	font-weight: bold;
}
.food-section, .staff-section{
	padding-top: 20px;
	font-family: urban;
}



/*Contact page*/
.contact-section p{
	padding-left: 10px;
}
.contact-section .btn{
	border: 1px solid #dfa974;
	background: transparent;
	box-shadow: 3px 3px 5px #dfa974;
}
.form{
	padding-top: 20px;
	padding-left: 50px;
	font-family: cursive;
}
.form .btn{
	padding-top: 10px;
	border: 1px solid #dfa974;
	border-radius: 10px;
	background: transparent;
	padding-left: 10px;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
